.top-nav-bar {
    position: relative;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .app-title {
        display: flex;
        align-items: center;

        .logo {
            height: 50px;
            width: 50px;
            margin-right: 5px;
        }

        .text {
            font-family: "Pacifico", cursive;
            font-size: 1.7rem;
        }
    }



    .options {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .option,
        .cart-toggle-button {
            padding: 0.5rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover {
                transform: scale(1.3, 1.3);
                transition: all 0.25s ease-in-out;
            }
        }

        .active {
            transform: scale(1.3, 1.3);
            font-weight: bold;
        }
    }
}