.product-preview {
    position: relative;
    width: 40vh;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    margin-bottom: 3rem;

    .image {
        border: 2px solid black;
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .button {
        position: absolute;
        top: 70%;
        opacity: 0.8;
        display: none;
    }

    .product-footer {
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        .name {
            width: 90%;
            margin-bottom: 15px;
        }

        .price {
            width: 10%;
        }
    }

    &:hover {
        opacity: 0.8;

        .button {
            display: flex;
        }
    }

    @media screen and (max-width: 800px) {
        width: 40vh;
        height: 320px;
        padding: 5px;

        .button {
            padding: 10px 20px;
            opacity: 0.9;
            display: block;
            min-width: unset;
        }

        &:hover {
            opacity: unset;

            .button {
                opacity: unset;
            }
        }

        .product-footer {
            width: 100%;
            height: 5%;
            font-size: 16px;

            .name {
                width: 90%;
                margin-bottom: 15px;
            }

            .price {
                width: 10%;
            }
        }
    }
}