$sub-color: grey;
$main-color: black;

.button {
    display: inline-block;
    background-color: $main-color;
    border: 2px solid $main-color;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: 800px) {
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        font-size: 14px;
    }

    &:hover {
        background-color: white;
        color: $main-color;
        border: 2px solid $main-color;
    }

    &.third-party-sign-in-button {
        background-color: #4285f4;
        color: white;
        border: 2px solid #4285f4;

        &:hover {
            background-color: white;
            color: #4285f4;
            border: 2px solid #4285f4;
        }
    }

    &.disable {
        background-color: lightgray;
        color: grey;
        border: 2px soild lightgray;
        cursor: not-allowed;

        &:hover {
            border: 2px soild lightgray;
        }
    }
}