.checkout-table {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5rem auto;

    .table-header {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        border-bottom: 2px solid black;

        .header-text {
            font-size: 16px;
            text-transform: uppercase;
            width: 20%;
            text-align: center;
        }
    }

    .StripeCheckout {
        margin-left: auto;
    }

    .total-price-tag {
        margin-left: auto;
        text-align: end;
        text-transform: uppercase;
        font-size: 24px;
    }

    .payment-warning {
        text-align: center;
        color: orange;
        margin: 24px 0;
    }

    @media screen and (max-width: 800px) {
        margin: 3rem auto;
        width: 100%;

        .table-header {
            padding: 0.5rem;

            .header-text {
                font-size: 14px;
            }
        }

        .total-price-tag {
            font-size: 16px;
        }
    }
}