* {
    box-sizing: border-box;
}

body {
    font-family: "Dosis", sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    visibility: hidden;
}

.empty-message {
    margin: 4rem 0;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}